[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
crontab = "*"
aioschedule = "*"
apscheduler = "*"
aioscheduler = "*"
requests = "*"
aiogram-media-group = "*"
environs = "*"
asyncpg = "*"
prettytable = "*"
aiogram-dialog = "*"
sqlalchemy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
